@using HairSalon.Models;

<!--Nav Tabs-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">Stylists</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/specialty">Specialties</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/client">Clients</a>
  </li>
</ul>
<br><br>


<div class="row">
  <div class="col-md-4" id="sidebar">
    <h3>Update Client</h3>
    <form action="/client/@Model.Id/update" method="post">
      <div class="form-group">
        <label for="newName">Name</label>
        <input class="form-control" name="newName" type="text" value="@Model.Name">
      </div>
      <div class="form-group">
        <label for="stylistId">Stylist</label>
        <select name="stylistId">
          <option value="@Model.StylistId" selected>@Stylist.Find(@Model.StylistId).Name</option>
          @foreach (var stylist in @Stylist.GetAll())
          {
            <option value="@stylist.Id">@stylist.Name</option>
          }
        </select>
      </div>
      <button type="submit" class="btn btn-warning">Update</button>
    </form>
  </div>
  <div class="col-md-8" id="content">
    <h1>@Model.Name</h1>
    <hr>
    <div class="stylists">
      <h4>Stylist: <a href='/stylist/@Model.StylistId'>@Stylist.Find(@Model.StylistId).Name</a></h4>
    </div>
    <br>
    <a class='btn btn-primary' href="/specialty">Back to Specialties</a>
  </div>
</div>
