
@using HairSalon.Models;

<h2>Specialty Name: @Model["specialist"].GetSpecialist()</h2>

@if (Model["specialistStylist"].Count != 0)
{
  <h4>Available Specialists:</h4>
  <ul>
    @foreach (var stylist in Model["specialistStylist"])
    {
      <li>@stylist.GetStylist()</li>
    }
  </ul>
}

<h2>Add an employee to this specialty:</h2>
<form action='/specialist/@Model["specialist"].GetSpecialistId()' method='post'>
  <label for='stylist-id'>Select an stylist</label>
  <select id='stylist-id' name='stylist-id' type='text'>
    @foreach (var stylist in @Model["allStylists"])
    {
      <option value='@stylist.GetStylistId()'>@stylist.GetStylist()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<p><a href="/specialist/">Click For Specialist Home Page</a></p>
<p><a href="/">Home</a></p>
