@using HairSalon.Models;

<!--Nav Tabs-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/">Stylists</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/specialty">Specialties</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/client">Clients</a>
  </li>
</ul>
<br><br>


<div class="row">
  <div class="col-md-4" id="sidebar">
    <h3>Update Description</h3>
    <form action="/specialty/@Model.Id/update" method="post">
      <div class="form-group">
        <label for="newName">Name</label>
        <input class="form-control" name="newName" type="text" value="@Model.Name">
      </div>
      <button type="submit" class="btn btn-warning">Update</button>
    </form>
  </div>
  <div class="col-md-8" id="content">
    <h1>@Model.Name</h1>
    <hr>
    <div class="stylists">
      <h4>Stylists</h4>
      <ul>
        @foreach (var stylist in @Model.GetStylists())
        {
          <li>@stylist.Name
             | <a href='/specialty/@Model.Id/remove/@stylist.Id' class='delete'>Delete</a></li>
        }
      </ul>
    </div>
    <form action="/specialty/@Model.Id/update/stylist" method="post">
      <div class="form-group">
        <label for="stylist">Add Stylist</label>
        <select name="stylist">
          @foreach (var stylist in @Stylist.GetAll())
          {
            <option value="@stylist.Id">@stylist.Name</option>
          }
        </select>
      <button type="submit" class="btn btn-warning">Update</button>
    </form>
  </div>
  <a class='btn btn-primary' href="/specialty">Back to Specialties</a>
</div>
