<!DOCTYPE>
<html>
<head>
  <title>Create a Stylist</title>
</head>
<body>
  <h1>Stylist Home Page</h1>

<h2>Stylist Name: @Model["stylist"].GetStylist()</h2>
@if (Model["client"].Count != 0)
{
  <h4>This stylist is assigned to:</h4>
  <ul>
    @foreach (var client in Model["client"])
    {
      <li>@client.GetClient()</li>
    }
  </ul>
}

@if (Model["stylistSpecialist"].Count != 0)
{
  <h4>This stylist has these specialties:</h4>
  <ul>
    @foreach (var specialist in Model["stylistSpecialist"])
    {
      <li>@specialist.GetSpecialist()</li>
    }
  </ul>
}

<h4>Add a client to this stylist:</h4>
<form action='/stylist/@Model["stylist"].GetStylistId()/client/new' method='post'>
  <label for='stylist-id'>Select a client</label>
  <select id='stylist-id' name='client-id' type='text'>
    @foreach (var client in @Model["allClient"])
    {
      <option value='@client.GetClientId()'>@client.GetClient()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<h4>Assign a specialty to a stylist:</h4>
<form action='/stylist/@Model["stylist"].GetStylistId()/specialist/new' method='post'>
  <label for='specialist-id'>Select a specialty</label>
  <select id='specialist-id' name='specialist-id' type='text'>
    @foreach (var specialist in @Model["allSpecialists"])
    {
      <option value='@specialist.GetSpecialistId()'>@specialist.GetSpecialist()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>

<p><a href="/client/">Return to Client List</a></p>
<p><a href="/stylist/@Model["stylist"].GetStylistId()/update">Update a stylist</a></p>
<p><a href="/stylist/@Model["stylist"].GetStylistId()/delete">Delete a stylist</a></p>
<p><a href="/">Home/a></p>
</body>
</html>
